<span class="mat-title">Clientes-Edit</span>
<mat-divider></mat-divider>
<div style="text-align:end; font-size:x-small; color:dimgrey" *ngIf="entity.id != 0">Última atualização por: {{entity.atualizadoPor}} em {{entity.dataAtualizacao}}</div>

<app-avisos [erros]="erros"></app-avisos>

<form #formClientes="ngForm">
  <mat-form-field class="ffied" appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput name="nome" [(ngModel)]="entity.nome" required>
  </mat-form-field>


  <mat-form-field class="ffied" appearance="fill">
    <mat-label>Email:</mat-label>
    <input matInput name="email" [(ngModel)]="entity.email" required>
  </mat-form-field>


  <mat-form-field class="ffied" appearance="fill">
    <mat-label>Telefone:</mat-label>
    <input matInput name="telefone" [(ngModel)]="entity.telefone" required>
  </mat-form-field>

  <!--<mat-form-field class="ffied" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select name="food">
      <mat-option value="Option1">
        Opção 1
      </mat-option>
      <mat-option value="Option2">
        <span>Opção 2</span>
      </mat-option>
      <mat-option value="Option3">
        <span>Opção 3</span>
      </mat-option>
    </mat-select>
  </mat-form-field>-->  
  <br />
  <button mat-raised-button color="primary" (click)="salvar()">Save</button>  &nbsp; | &nbsp;<a [routerLink]="['/main/clientes/list']">Voltar para Lista</a>

  </form>

