<span class="mat-title">Unidades de Medida-Edit</span>
<mat-divider></mat-divider>
<div style="text-align:end; font-size:x-small; color:dimgrey" *ngIf="entity.id != 0">Última atualização por: {{entity.atualizadoPor}} em {{entity.dataAtualizacao}}</div>

<app-avisos [erros]="erros"></app-avisos>

<mat-form-field class="ffied" appearance="fill">
  <mat-label>Nome:</mat-label>
  <input matInput type="text" [(ngModel)]="entity.nome">
</mat-form-field>

<mat-form-field class="ffied" appearance="fill">
  <mat-label>Simbolo:</mat-label>
  <input matInput type="text" [(ngModel)]="entity.simbolo">
</mat-form-field>

<br />
<button mat-raised-button color="primary" (click)="salvar()">Salvar</button>  &nbsp; | &nbsp;<a [routerLink]="['/main/unidades/list']">Voltar para Lista</a>
